@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-addbook-popup{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-addbook-popup::-webkit-scrollbar{
    display: none;
}
